$button-primary: #00875f;
$button-secondary: #e1f5e7;
$button-disabled-primary: #b3dbcf;

$text-primary: #17171b;
$text-secondary: #3d4350;
$text-tertiary: #6b7180;
$text-disabled: #ccd0d7;

$background-primary: #ffffff;
$background-secondary: #f7f8f9;
$background-tertiary: #e8eaee;
$background-disabled: #f7f8f9;
