@import "./_color.scss";

.container {
  margin-bottom: 4rem;
}

.division {
  width: 100%;
  height: 0.75rem;
  max-width: 29.6875rem;
  min-width: 20rem;
  background: $background-secondary;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  color: $text-secondary;
  padding: 0.5rem 1rem;
}

.status_container {
  padding: 0.75rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.status {
  width: 6.3125rem;
  height: 5rem;
  padding: 1rem 1.5rem;
  background: $background-secondary;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.status_count {
  font-weight: 600;
  font-size: 1rem;
  color: $text-primary;
}

.status_type {
  font-weight: 400;
  font-size: 0.875rem;
  color: $text-secondary;
}

.menu {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.menu_title {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.menu_text {
  font-weight: 400;
  font-size: 1rem;
  color: $text-secondary;
}

.menu_text_email {
  font-weight: 600;
  font-size: 1rem;
  color: #476bdb;
}

.btn_container {
  display: flex;
  padding: 1rem;
}

.btn {
  cursor: pointer;
}

.main_container {
  height: 93vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.text_main {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: $text-primary;
}

.text_sub {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $text-tertiary;
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.input,
.input_error {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: $background-secondary;
  border: 1px solid $background-tertiary;
  border-radius: 0.75rem;
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-size: 1rem;
}

.input_error {
  border: 2px solid #f68277;
}

.input:focus,
.input_error:focus {
  outline: none;
}

.text_error {
  font-weight: 400;
  font-size: 0.875rem;
  color: #cf3644;
}

.icon_container {
  text-align: center;
}

.btn_bottom,
.btn_bottom_active {
  display: flex;
  justify-content: center;
  padding: 0.875rem 1.5rem;
  color: #ffffff;
  background-color: $text-primary;
  opacity: 0.3;
  border-radius: 0.75rem;
}

.btn_bottom_active {
  opacity: 1;
  cursor: pointer;
}
