@import "./_color.scss";

.bottom {
  padding: 1rem;
  width: 100%;
}

.startButton {
  background: $button-primary;
  width: 100%;
  border-radius: 0.75rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 1rem 0;
}
