.header_container {
  padding: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_title {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 1rem;
  text-align: center;
}

.header_button {
  font-weight: 600;
  color: #476bdb;
}

.textArea_container {
  padding: 1rem 1.5rem;
  min-height: 9.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #6b7180;
}

.textArea_text {
  line-height: 1.5rem;
  letter-spacing: -0.3px;
  color: #17171b;
  border: none;
  resize: none;
}

.textArea_text::placeholder {
  color: #6b7180;
}

.division {
  width: 100%;
  height: 0.75rem;
  background: #f7f8f9;
}

.warnText {
  color: #cf3644;
}

.tags_container {
  padding: 1.5rem;
}

.tags_title {
  font-size: 0.875rem;
  font-weight: 600;
  color: #6b7180;
  margin-bottom: 0.75rem;
}

.tags_keyword {
  padding: 0.625rem 1rem;
  border-radius: 1.5rem;
  background: #f7f8f9;
  font-size: 0.875rem;
  color: #3d4350;
  font-weight: 600;
  margin-right: 0.75rem;
  cursor: pointer;
}

.saveButton {
  position: absolute;
  bottom: 5rem;
  width: 100%;
  padding: 1rem;
  background: #0a0a0c;
  border-radius: 0.75rem;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
}
