.backButton {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.title {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 1rem 0;
}

.subTitle {
  font-size: 1rem;
  font-weight: 600;
  padding-left: 1.625rem;
  margin-bottom: 0;
}

.input_container {
  padding: 1.875rem 1.5rem 0 1.5rem;
  width: 100%;
}

.input_wrapper {
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  background: #f7f8f9;
  border: 1px solid #e8eaee;
}

.input {
  flex: 1;
  margin-right: 0.625rem;
  font-size: 1rem;
  border: none;
  background: transparent;
}

.keywords {
  margin-top: 1.875rem;
}

.keyword_wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.625rem;
  overflow-x: scroll;
  padding: 1rem 1.5rem;
  scrollbar-width: none; /* Firefox */
}

/* for Chrome, Safari and Opera */
.keyword_wrapper::-webkit-scrollbar {
  display: none;
}

.keyword {
  flex: 0 0 auto;
  padding: 0.625rem 1rem;
  border-radius: 1.5rem;
  background: #e8eaee;
  font-size: 0.875rem;
  color: #6b7180;
}

.recommend {
  margin-top: 2.25rem;
}

.noResult_container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noResult_message {
  margin-top: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #6b7180;
}
